@import url('https://fonts.googleapis.com/css?family=Lora|Roboto+Mono');

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
*{
	--blue:#233e83;
	--dark-blue:#061a3b;
	--light-blue:#d3d8e6;
	--gold:#836823;
	--white:#ffffff;
}

.theme {
  color: var(--light-blue) !important;
  background-color: var(--blue) !important;
}
.theme-light {
  color: var(--blue) !important;
  background-color: var(--light-blue) !important;
}
.theme-dark {
  color: var(--light-blue) !important;
  background-color: var(--dark-blue) !important;
}
.text-theme {
  color: var(--blue) !important;
}
.text-theme-light {
  color: var(--light-blue) !important;
}
.text-theme-dark {
  color: var(--dark-blue) !important;
}
.text-theme-gold{
  color: var(--gold) !important;
}
.text-theme-white{
  color: var(--white) !important;
}
.hover-theme:hover {
  color: var(--light-blue) !important;
  background-color: var(--blue) !important;
}
.hover-text-theme:hover {
  color: var(--gold) !important;
}
.hover-border-theme:hover {
  border-color: var(--gold) !important;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  margin: auto;
  overflow: hidden;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
progress {
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  outline-width: 0;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
dfn {
  font-style: italic;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
.small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
figure {
  margin: 1em 40px;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
code,
kbd,
pre,
samp {
  font-family: 'Roboto Mono', monospace;
  font-size: 1em;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
button,
input,
select,
textarea {
  font: inherit;
  margin: 0;
}
optgroup {
  font-weight: bold;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
End extract


html,
body {
  font-family: 'Roboto Mono', monospace;
  font-size: 15px;
  line-height: 1.5;
}
html {
  overflow-x: hidden;
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 20px;
}
h5 {
  font-size: 18px;
}
h6 {
  font-size: 16px;
}
.serif {
  font-family: serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lora', serif;
  font-weight: 400;
  margin: 10px 0;
}
.wide {
  letter-spacing: 4px;
}
hr {
  border: 0;
  border-top: 1px solid #eee;
  margin: 20px 0;
}
.image {
  max-width: 100%;
  height: auto;
}
img {
  margin-bottom: -5px;
}
a {
  color: inherit;
}
.table,
.table-all {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  display: table;
}
.table-all {
  border: 1px solid #ccc;
}
.bordered tr,
.table-all tr {
  border-bottom: 1px solid #ddd;
}
.striped tbody tr:nth-child(even) {
  background-color: #f1f1f1;
}
.table-all tr:nth-child(odd) {
  background-color: #fff;
}
.table-all tr:nth-child(even) {
  background-color: #f1f1f1;
}
.hoverable tbody tr:hover,
.ul.hoverable li:hover {
  background-color: #ccc;
}
.centered tr th,
.centered tr td {
  text-align: center;
}
.table td,
.table th,
.table-all td,
.table-all th {
  padding: 1px 1px;
  display: table-cell;
  text-align: left;
  vertical-align: top;
}
.table th:first-child,
.table td:first-child,
.table-all th:first-child,
.table-all td:first-child {
  padding-left: 5px;
}
.btn,
.button {
  border: none;
  display: inline-block;
  outline: 0;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
}
.btn:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.btn,
.button {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.disabled,
.btn:disabled,
.button:disabled {
  cursor: not-allowed;
  opacity: 0.3;
}
.disabled *,
:disabled * {
  pointer-events: none;
}
.btn.disabled:hover,
.btn:disabled:hover {
  box-shadow: none;
}
.badge,
.tag {
  background-color: #000;
  color: #fff;
  display: inline-block;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
}
.badge {
  border-radius: 50%;
}
.ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.ul li {
  padding: 8px 16px;
  border-bottom: 1px solid #ddd;
}
.ul li:last-child {
  border-bottom: none;
}
.tooltip,
.display-container {
  position: relative;
}
.tooltip .text {
  display: none;
}
.tooltip:hover .text {
  display: inline-block;
}
.ripple:active {
  opacity: 0.5;
}
.ripple {
  transition: opacity 0s;
}
.input {
  padding: 8px;
  display: block;
  border: none;
  border-bottom: 1px solid #ccc;
  width: 100%;
}
.select {
  padding: 9px 0;
  width: 100%;
  border: none;
  border-bottom: 1px solid #ccc;
}
.dropdown-click,
.dropdown-hover {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.dropdown-hover:hover .dropdown-content {
  display: block;
  z-index: 1;
}
.dropdown-hover:first-child,
.dropdown-click:hover {
  background-color: #ccc;
  color: #000;
}
.dropdown-hover:hover > .button:first-child,
.dropdown-click:hover > .button:first-child {
  background-color: #ccc;
  color: #000;
}
.dropdown-content {
  cursor: auto;
  color: #000;
  background-color: #fff;
  display: none;
  position: absolute;
  min-width: 160px;
  margin: 0;
  padding: 0;
}
.check,
.radio {
  width: 24px;
  height: 24px;
  position: relative;
  top: 6px;
}
.sidebar {
  height: 100%;
  width: 200px;
  background-color: #fff;
  position: fixed !important;
  z-index: 1;
  overflow: auto;
}
.bar-block .dropdown-hover,
.bar-block .dropdown-click {
  width: 100%;
}
.bar-block .dropdown-hover .dropdown-content,
.bar-block .dropdown-click .dropdown-content {
  min-width: 100%;
}
.bar-block .dropdown-hover .button,
.bar-block .dropdown-click .button {
  width: 100%;
  text-align: left;
  padding: 8px 16px;
}
.main,
#main {
  transition: margin-left 0.4s;
}
.modal {
  z-index: 3;
  display: none;
  padding-top: 100px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
  margin: auto;
  background-color: #fff;
  position: relative;
  padding: 0;
  outline: 0;
  width: 600px;
}
.bar {
  width: 100%;
  overflow: hidden;
}
.center .bar {
  display: inline-block;
  width: auto;
}
.bar .bar-item {
  padding: 8px 16px;
  float: left;
  width: auto;
  border: none;
  outline: none;
  display: block;
}
.bar .dropdown-hover,
.bar .dropdown-click {
  position: static;
  float: left;
}
.bar .button {
  white-space: normal;
}
.bar-block .bar-item {
  width: 100%;
  display: block;
  padding: 8px 16px;
  text-align: left;
  border: none;
  outline: none;
  white-space: normal;
  float: none;
}
.bar-block.center .bar-item {
  text-align: center;
}
.block {
  display: block;
  width: 100%;
}
.responsive {
  display: block;
  overflow-x: auto;
}
.container:after,
.container:before,
.panel:after,
.panel:before,
.row:after,
.row:before,
.row-padding:after,
.row-padding:before,
.cell-row:before,
.cell-row:after,
.clear:after,
.clear:before,
.bar:before,
.bar:after {
  content: "";
  display: table;
  clear: both;
}
.col,
.half,
.third,
.twothird,
.threequarter,
.quarter {
  float: left;
  width: 100%;
}
.col.s1 {
  width: 8.33333%;
}
.col.s2 {
  width: 16.66666%;
}
.col.s3 {
  width: 24.99999%;
}
.col.s4 {
  width: 33.33333%;
}
.col.s5 {
  width: 41.66666%;
}
.col.s6 {
  width: 49.99999%;
}
.col.s7 {
  width: 58.33333%;
}
.col.s8 {
  width: 66.66666%;
}
.col.s9 {
  width: 74.99999%;
}
.col.s10 {
  width: 83.33333%;
}
.col.s11 {
  width: 91.66666%;
}
.col.s12 {
  width: 99.99999%;
}
@media (min-width: 601px) {
  .col.m1 {
    width: 8.33333%;
  }
  .col.m2 {
    width: 16.66666%;
  }
  .col.m3,
  .quarter {
    width: 24.99999%;
  }
  .col.m4,
  .third {
    width: 33.33333%;
  }
  .col.m5 {
    width: 41.66666%;
  }
  .col.m6,
  .half {
    width: 49.99999%;
  }
  .col.m7 {
    width: 58.33333%;
  }
  .col.m8,
  .twothird {
    width: 66.66666%;
  }
  .col.m9,
  .threequarter {
    width: 74.99999%;
  }
  .col.m10 {
    width: 83.33333%;
  }
  .col.m11 {
    width: 91.66666%;
  }
  .col.m12 {
    width: 99.99999%;
  }
}
@media (min-width: 993px) {
  .col.l1 {
    width: 8.33333%;
  }
  .col.l2 {
    width: 16.66666%;
  }
  .col.l3 {
    width: 24.99999%;
  }
  .col.l4 {
    width: 33.33333%;
  }
  .col.l5 {
    width: 41.66666%;
  }
  .col.l6 {
    width: 49.99999%;
  }
  .col.l7 {
    width: 58.33333%;
  }
  .col.l8 {
    width: 66.66666%;
  }
  .col.l9 {
    width: 74.99999%;
  }
  .col.l10 {
    width: 83.33333%;
  }
  .col.l11 {
    width: 91.66666%;
  }
  .col.l12 {
    width: 99.99999%;
  }
}
.content {
  max-width: 960px;
  margin: auto;
}
.rest {
  overflow: hidden;
}
.cell-row {
  display: table;
  width: 100%;
}
.cell {
  display: table-cell;
}
.cell-top {
  vertical-align: top;
}
.cell-middle {
  vertical-align: middle;
}
.cell-bottom {
  vertical-align: bottom;
}
.hide {
  display: none !important;
}
.show-block,
.show {
  display: block !important;
}
.show-inline-block {
  display: inline-block !important;
}
@media (max-width: 600px) {
  .modal-content {
    margin: 0 10px;
    width: auto !important;
  }
  .modal {
    padding-top: 30px;
  }
}
@media (max-width: 768px) {
  .modal-content {
    width: 400px;
  }
  .modal {
    padding-top: 50px;
  }
}
@media (min-width: 993px) {
  .modal-content {
    width: 600px;
  }
}
@media (max-width: 992px) and (min-width: 601px) {

}
@media (max-width: 992px) {
  .main {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

.display-topright {
  position: absolute;
  right: 0;
  top: 0;
}

.display-topleft {
  position: absolute;
  left: 0;
  top: 0;
}
.display-topmiddle{
  position:absolute;
  left:50%;
  top:0;
  transform:translate(-50%,0%);
}

.row-padding,
.row-padding > .half,
.row-padding > .third,
.row-padding > .twothird,
.row-padding > .threequarter,
.row-padding > .quarter,
.row-padding > .col {
  padding: 0 8px;
}
.container
{
  padding: 0.01em 16px;
}
.card-4,
.hover-shadow:hover {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}

.animate-opacity {
  animation: opac 0.8s;
}
@keyframes opac {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.animate-top {
  position: relative;
  animation: animatetop 0.4s;
}
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
.animate-left {
  position: relative;
  animation: animateleft 0.4s;
}
@keyframes animateleft {
  from {
    left: -300px;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}
.animate-zoom {
  animation: animatezoom 0.6s;
}
@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
.large {
  font-size: 16px !important;
}
.xlarge {
  font-size: 24px !important;
}
.xxlarge {
  font-size: 36px !important;
}
.xxxlarge {
  font-size: 48px !important;
}
.left-align {
  text-align: left !important;
}
.right-align {
  text-align: right !important;
}
.center {
  text-align: center !important;
}
.section
{
  margin-top: 16px !important;
  margin-bottom: 16px !important;
}
.margin {
  margin: 8px !important;
}
.margin-top {
  margin-top: 8px !important;
}

.padding {
  padding: 8px 16px !important;
}

.padding-16 {
  padding-top: 16px !important;
  padding-bottom: 16px !important;
}

.left {
  float: left !important;
}
.right {
  float: right !important;
}
.button:hover {
  color: var(--gold) !important;
  border: solid 1px var(--gold) !important;
  background-color: var(--blue) !important;
}
.transparent,
.hover-none:hover {
  background-color: transparent !important;
}
.hover-none:hover {
  box-shadow: none !important;
}
